[package]
name = "myfans-contract"
version = "0.1.0"
edition = "2021"
publish = false
description = "MyFans subscription and payment logic on Stellar Soroban"

[lib]
crate-type = ["cdylib"]
doctest = false

[dependencies]
soroban-sdk = "22"

[dev-dependencies]
soroban-sdk = { version = "22", features = ["testutils"] }

[profile.release]
opt-level = "z"
overflow-checks = true
debug = 0
strip = "symbols"
debug-assertions = false
panic = "abort"
codegen-units = 1
lto = true

[profile.release-with-logs]
inherits = "release"
debug = 1
strip = "debuginfo"
